{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-md-12">
            <h2 class="mb-4">Lista de Mensagens</h2>
            
            
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Artista</th>
                        <th>Conteúdo</th>
                        <th>Data de Envio</th>
                        <th>Enviada</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mensagem in mensagens %}
                    <tr>
                        <td>{{ mensagem.artista.nome }}</td>
                        <td>{{ mensagem.conteudo }}</td>
                        <td>{{ mensagem.data_envio }}</td>
                        <td>{{ mensagem.enviada|yesno:"Sim,Não" }}</td>
                        <td>
                            <a href="{% url 'editar_mensagem' mensagem.id %}" class="btn btn-warning btn-sm">Editar</a>
                            <a href="{% url 'deletar_mensagem' mensagem.id %}" class="btn btn-danger btn-sm">Deletar</a>   
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">Nenhuma mensagem encontrada para "<span class="artist-name">{{ artista.nome }}</span>". 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'criar_mensagem' artista.id %}" class="btn btn-primary btn-sm">Criar Nova Mensagem</a>
            <a href="{% url 'artistas_list' %}" class="btn btn-secondary btn-sm custom-back-button">Voltar para lista</a> 
        </div>
    </div>
</div>
{% endblock %}
